html {
    box-sizing: border-box;
}

*,
*


img {
    display: block;
    max-width: 100%;
    height: auto;
}


калькуоятор {
    width: calc((100% - 30px * 2) / 3);
}
центрирование по главной оси {
    justify-content: center;
}